*{
    user-select: none;
}

body{
    background: #32b0eb;
}

#jsq{
    width: 280px;
    height: 450px;
    background:#000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 150px auto;
}

#hea{
    width: 100%;
    height: 50px;
    /*background-color: blue;*/
}

#watch{
    width: 100%;
    height: 50px;
    background: #000000;
}

#watch input{
    width: 99%;
    height: 50px;
    text-align: right;
    font-size: 40px;
    border: 1px solid #000000;
    background: #000000;
    color: #ffffff;
}

#bt{
    width: 100%;
    height: 350px;
    /*background: rgb(199, 196, 47);*/
    float: left;
}

#bt li{
    list-style-type: none;
    float: left;
}

#bt .bt0{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #b1afaf;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #000000;
}

#bt .bt1{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #444443;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #ffffff;
}

#bt .bt2{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #ff8800;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #ffffff;
}

#bt .bt3{
    width: 110px;
    height: 50px;
    margin: 5px;
    background:#ff8800;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #ffffff;
}

#bt .allbt{
    position: relative;
    right: 22px;
    margin-top: 30px;
}